.navbar{
  
    h1{
        color: rgb(248, 241, 241);
      
    }
}
.me-auto{
    margin-left: 400px;
    gap: 50px;
    color: rgb(213, 215, 161);
    p{
        margin-top: 20px;
        color: rgb(241, 243, 177);
    }
    p:hover{
        color :white;
    }
}
 
.nav-link {
 color: rgb(225, 221, 147); 
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link.active {
  color: rgb(242, 242, 198);  
  text-decoration: underline; 
}
/* .adminname{
    height: 100px;
    width: 100px;
    background-color: brown;
} */