.forgotpassword{
  background-color: rgb(248, 245, 241);
  display: flex;
  width: 600px;
  gap: 30px;
  margin-left: 500px;
  border-radius: 30px;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  input{
    width: 400px;
  }
  button{
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 30px;

  }
  button:hover {
    background-color: darkblue; 
    transform: scale(1.05); 
  }
}
